<mat-progress-bar mode="indeterminate" *ngIf="carga"></mat-progress-bar>


<div class="container">

    <div class="banner">
        <div class="logoD">
            <img src="../../../../assets/img/principal.png" alt="logo" class="logo" width="50px">
        </div>
        <button class="user" *ngIf="mostrar" routerLink="/dashboard/usuario">
            Usuario: {{ userName }}
        </button>
        <div class="izq">
            <a [routerLink]="['/registrar']" (click)="cargaM()">Registrarse</a>
            <a [routerLink]="['/login']">Iniciar Sesión <i class="fa-solid fa-right-to-bracket"></i></a>
        </div>
    </div>

    <!-- <div class="second">
        <a [routerLink]="['index']">Inicio</a>
          <a [routerLink]="['/dashboard/foros']">Foros</a>
    </div>
     -->
    <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->


</div>