/* 
.color{
  background-color: #03312E;
}

.container{
  height: 65px;
  background-color: #03312E;
  padding: 15px;
}

.logoD{
  margin-left: 20px;
}

.logo{
  width: 5%;
}

.izq{
  margin-top: -60px;
  text-align: right;
}

.izq a{
  border-radius: 10px;
  padding: 10px;
  margin-right: 30px;
  margin-top: 300px;
  margin-left: 25px;
  background-color: aquamarine;

  text-decoration: none;
  color: blue;
  font-size: 28px;
  font-weight: 500px;
  bottom: 0;
}

.izq .registrar{
  background-color: #03312E;
  color: #fdc578;
  font-weight: 00;
}

.second a{
  background-color: #03312E;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 18px;
  margin-left: 20px;
  font-size: 20px;
}
.mat-dialog-container{
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 150%;
  height: 80%;
  min-height: inherit;
  max-height: inherit;
}


.user{
  border: none;
  font-size: 20px;
  color: white;
  padding: 20px;
  cursor: pointer;
  background-color: transparent;
}


i{
  margin-left: 10px;
} */

.container {
  width: 100vw;
  height: 15vh;
}
.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90vw;
  height: 17vh;
}

.izq{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-align: center;
}

.izq a {
  
  border-radius: 20px;
  width: 300px;
  font-size: 28px;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.logoD img {
  width: 100px;
  margin: 0;
  padding: 0;
}
