.Back{
  padding-top: 400px;
  padding-bottom: 400px;
  background-size: cover;
  background-position-y: center;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 0) 100%), url(../../../../assets/img/fondo-dance.jpg);
  color: white;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  margin-top: -95px;
}


.btn{
  border: none;
  padding: 10px 55px;
  font-size: 28px;
  margin-left: 60px;
  border-radius: 50px;
  color: blue;
  position: absolute;
  margin-top: -240px;
}