
<app-navbar></app-navbar>

<!-- Aqui habra una pagina inicio,  con un boton para ver foros, y una bienvenida -->

<div class="Back back2"></div>



<!-- <a href="#" (click)="goToForos()" class="btn">Ver los Foros</a> -->
<button routerLink="/dashboard/foros" class="btn">Foros</button>

