
<app-navbar></app-navbar>


<div class="container">  
    <form (ngSubmit)="guardar()"  #forma="ngForm">

      <mat-form-field class="ancho" >
        <mat-label>Que titulo desea ponerle?</mat-label>
        <input 
        type="text" 
        matInput 
        placeholder="Titulo" 
        name="titulo" 
        [(ngModel)]="foro.titulo"
        required
        minlength="3"
        maxlength="100"
        #titulo = "ngModel"
        >
      </mat-form-field>

      <!-- <mat-form-field class="ancho">
        <mat-label>A que seccion pertenece?</mat-label>
        <mat-select>
            <mat-option *ngFor="let item of seccion" [value]="item" >
            </mat-option>
        </mat-select>
    </mat-form-field> -->
      
    </form>
</div>


    <div class="all">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [(ngModel)]="html"
        >
      </ngx-editor>

      <br>
      <button type="submit" (click)="guardar()" >Publicar ahora</button>
      <button routerLink="/dashboard/foros">Cerrar</button>
      <button (click)="guardarBorrador()">Guardar como borrador</button>
      <br><br>

      <!-- <div [innerHTML]="html"></div> -->

    </div>