.ancho{
  margin-top: 20px;
  /* text-align: center; */
  width: 60%;
  margin: 0 16%;
}

.all{
  width: 60%;
  margin: 0 16%;
  background-color: #03312E;
  height: 100%;
  /* margin-top: -9px; */
  padding: 40px;
}

.toolbar{
  color: #320958;
}

